{
    "parser":  "@typescript-eslint/parser",
    "extends": [
      "plugin:@typescript-eslint/recommended",
      "plugin:@-k/base"
    ],
    "settings": {
        "import/core-modules": ["vscode"]
    },
    "overrides": [
        {
            "files": ["src/*.json"],
            "rules": {
                "unicorn/filename-case": "off"
            }
        }
    ]
}
